.borderz {
    border-radius: 0;
}

.signUpImg {
    background-image: url("img/female.jpg");
    background-size: cover;
    background-position: center;
}

.bg-gradient {
    height: 90vh;
    background: linear-gradient(135deg, rgba(252,206,40,0.5) 0%,rgba(254,144,144,0.5) 45%,rgba(254,128,140,0.5) 63%,rgba(255,94,131,0.5) 100%);
}

.nopad {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.signUpForm div input{
    border: 0px;

}

.signupbtn {
    background: linear-gradient(135deg, rgba(252,206,40,0.5) 0%,rgba(254,144,144,0.5) 45%,rgba(254,128,140,0.5) 63%,rgba(255,94,131,0.5) 100%);
}