.slika {
   position: relative;
   padding: 0;
}

.slika img {
   width: 100%;
}

.overlay {
   position: absolute;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   height: 100%;
   width: 100%;
   opacity: 0;
   transition: .5s ease;
   background-color: white;
 }

 .slika:hover .overlay {
   opacity: 0.8;
 }

 .text {
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);

 }
 .modal-dialog{
   width: 50%;
 }
 .flexx{
   display: flex;
   justify-content: center;
   align-items: center;
   justify-content: space-around;
 }
 .flexx img{
   width: 15%;
 }
 .t{
   text-decoration: line-through;
 }
 .bor{
   border: 1px solid black;
 }
 .flexxx{
   display: flex;
   width: 20vh;
   justify-content: space-between;
 }
 .flexxx  div{
   border: 2px solid lightgrey;
   width: 5vh;
   height: 5vh;
 }
 .yellow i{
   margin-left: 10px;
   color: white;
 }
 .yellow{
   background-color: yellow;

 }
 .grey{
   background-color: grey;
 }
 .green{
   background-color: green;
 }
 .list-unstyled li a i{
   font-size: 35px;
   color: grey;
 }