
.nav-grey {
    background-color: #809091;
}
.nav-grey a, .nav-grey-2 a {
    color: white !important;
    font-weight: bolder;
    font-size: 11px;
}
.nav-grey a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.navbar-inverse .navbar-nav>li>a:hover {
    background-color: #809091;
}
.nav-grey-2 {
    background-color: #a2aeaf;
}
.navbar-header>a{
    color: white;
    font-size: 25px;
    font-weight: 900;
}
.flex h1{
    font-size: 60px;
    font-weight: 900;
}
.carousel-inner .row {
    height: 70vh;
    background-color: #000000;
}
.item:hover img {
    opacity: 0.5;
}
.flex {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.borderz {
    border-radius: 0;
}
.signUpImg {
    background-image: url("img/female.jpg");
    background-size: cover;
    background-position: center;
}
.bg-gradient {
    height: 90vh;
    background: linear-gradient(135deg, rgba(252,206,40,0.5) 0%,rgba(254,144,144,0.5) 45%,rgba(254,128,140,0.5) 63%,rgba(255,94,131,0.5) 100%);
}
.nopad {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
}
.signUpForm div input{
    border: 0px;
}
.signupbtn {
    background: linear-gradient(135deg, rgba(252,206,40,0.5) 0%,rgba(254,144,144,0.5) 45%,rgba(254,128,140,0.5) 63%,rgba(255,94,131,0.5) 100%);
}
.nav-grey {
    background-color: #809091;
 }
 .nav-grey .container ul li a{
   color: lightgrey;
 }
.borderz {
    border-radius: 0;
}

.signUpImg {
    background-image: url("img/female.jpg");
    background-size: cover;
    background-position: center;
}

.bg-gradient {
    height: 90vh;
    background: linear-gradient(135deg, rgba(252,206,40,0.5) 0%,rgba(254,144,144,0.5) 45%,rgba(254,128,140,0.5) 63%,rgba(255,94,131,0.5) 100%);
}

.nopad {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.signUpForm div input{
    border: 0px;

}

.flex {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slika {
   position: relative;
   padding: 0;
}

.slika img {
   width: 100%;
}

.overlay {
   position: absolute;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   height: 100%;
   width: 100%;
   opacity: 0;
   transition: .5s ease;
   background-color: white;
 }

 .slika:hover .overlay {
   opacity: 0.8;
 }

 .text {
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);

 }
 .padtop{
   background-color: lightgray;
   padding-top: 2%;
 }
 .padbot{
   padding-bottom: 2%;
   background-color: lightgrey;
 }

 .modal-dialog{
   width: 50%;
 }
 .flexx{
   display: flex;
   justify-content: center;
   align-items: center;
   justify-content: space-around;
 }
 .flexx img{
   width: 15%;
 }
 .t{
   text-decoration: line-through;
 }
 .bor{
   border: 1px solid black;
 }
 .flexxx{
   display: flex;
   width: 20vh;
   justify-content: space-between;
 }
 .flexxx  div{
   border: 2px solid lightgrey;
   width: 5vh;
   height: 5vh;
 }
 .yellow i{
   margin-left: 10px;
   color: white;
 }
 .yellow{
   background-color: yellow;

 }
 .grey{
   background-color: grey;
 }
 .green{
   background-color: green;
 }
 .list-unstyled li a i{
   font-size: 35px;
   color: grey;
 }

.signupbtn {
    background: linear-gradient(135deg, rgba(252,206,40,0.5) 0%,rgba(254,144,144,0.5) 45%,rgba(254,128,140,0.5) 63%,rgba(255,94,131,0.5) 100%);
}

